<div class="container mt-4">
    <h2>Mis Favoritos</h2>

    @if (favoritos().length === 0) {
    <p>No tenés productos favoritos todavía.</p>
    } @else {
    <div class="row justify-content-center g-4" style="gap: 1rem">
        @for (p of favoritos(); track p.id) {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img src="{{p.imagen}}" alt="placeholder">
                <h5 class="card-title">{{ p.nombre }}</h5>
                <p class="card-text">{{ p.descripcion }}</p>
                <p class="card-text">${{ p.precio }}</p>
                <div class="row justify-content-center gap-1">
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    <button type="button" (click)="toggleFavorito(p.id)"
                        [class]="p.favorito ? 'btn btn-warning' : 'btn btn-outline-warning'">
                        <i [class]="p.favorito ? 'bi bi-star-fill' : 'bi bi-star'"></i>
                    </button>
                </div>
            </div>
        </div>
        }
    </div>
    }
</div>